<!doctype html>

<html lang="en">
<head>
    <title><!--title--></title>
    <style>
        body {
            background-color: linen;
            font-family: "Courier New";
            margin-left: 20px;
        }
        
        h1 {
            color: maroon;
        }
        h2 {
            color: maroon;
        }
        
        A:link {text-decoration: none}
        A:visited {text-decoration: none}
        A:active {text-decoration: none}
        A:hover {text-decoration: underline; color: red;}
        
        </style>
</head>
<body>
<!--body-->
</body>
</html>
